* {
	padding: 0;
	margin: 0;
	list-style: none;
}

html,
body {
	font-family: Source Sans Pro, sans-serif;
	color: #656565;
	font-size: 14px;
	line-height: 1.52857143;
	background-color: #f5f7fa;
}

a {
	text-decoration: none;
	color: #333;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.w50 {
  width: 50%;
  display: inline-block;
}
.w40 {
  width: 40%;
  display: inline-block;
}
.w45 {
  width: 45%;
  display: inline-block;
}

.w30 {
  width: 30%;
  display: inline-block;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.title {
	padding: 20px;
	font-size: 24px;
	line-height: 1.1;
	color: #929292;
	text-align: left;
	background-color: #fafbfc;
	border-bottom: 1px solid #cfdbe2;
}


.search {
  display: inline-block;
}

.search .el-input {
  width: 180px;
}
.search .el-input__inner {
  height: 30px !important;
  line-height: 30px !important;
}
.btn {
	color: #fff;
	border-color: transparent;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1.52857143;
	border-radius: 4px;
	border-radius: 3px;
	font-size: 13px;
	outline: none !important;
	transition: all 0.1s;
}
.btn1 {
	color: #fff;
	border-color: transparent;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 9px 10px !important;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1.52857143;
	border-radius: 4px;
	border-radius: 3px;
	font-size: 13px;
	outline: none !important;
	transition: all 0.1s;
}
.btn1:hover {
	opacity: .8;
}
.btn:hover {
	opacity: .8;
}

.mini {
  padding: 4px 10px !important;
}
.btn1 {
	color: #fff;
	border-color: transparent;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 9px 10px !important;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1.52857143;
	border-radius: 4px;
	border-radius: 3px;
	font-size: 13px;
	outline: none !important;
	transition: all 0.1s;
}
.small {
  padding: 4px 14px !important;
}

.medium {
  padding: 10px 20px !important;
}

/* 按钮颜色 */

.Default {
  color: #000 !important;
  background-color: #fff !important;
  border-color: #eaeaea !important;
}

.Primary {
  color: #fff !important;
  border: 1px solid #5d9cec !important;
  background-color: #5d9cec !important;
}

.Success {
  color: #fff !important;
  border: 1px solid #27c24c !important;
  background-color: #27c24c !important;
}

.Warning {
  color: #fff !important;
  border: 1px solid #ff902b !important;
  background-color: #ff902b !important;
}

.Danger {
  color: #fff !important;
  border: 1px solid #f05050 !important;
  background-color: #f05050 !important;
}

.Inverse {
  color: #fff !important;
  border: 1px solid #131e26 !important;
  background-color: #131e26 !important;
}

.Green {
  color: #fff !important;
  border: 1px solid #37bc9b !important;
  background-color: #37bc9b !important;
}

.Info {
  color: #fff !important;
  border: 1px solid #23b7e5 !important;
  background-color: #23b7e5 !important;
}

.Purple {
  color: #fff !important;
  border: 1px solid #7266ba !important;
  background-color: #7266ba !important;
}

.Pink {
  color: #fff !important;
  border: 1px solid #f532e5 !important;
  background-color: #f532e5 !important;
}


.medium {
	padding: 10px 20px !important;
}

.panel {
	border: 1px solid #cfdbe2;
	border-radius: 4px;
	background-color: #fff;
	border-top-width: 3px;
	margin-bottom: 21px;
	margin-top: 15px;
	padding: 15px 15px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel .panel-heading {
	border-bottom: 0;
	font-size: 14px;
	color: #444;
	background-color: #fff;
	border-color: #cfdbe2;
	padding: 10px 15px;
	text-align: center;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel .panel-heading label {
	line-height: 30px;
}

.panel .panel-body {
	padding: 15px;
}

.pages {
	padding: 10px 0;
	text-align: center;
}
.Owners .el-form-item{
	margin-bottom: 20px;
}
.eld .el-dialog__body{
	    padding: 2px 20px;
}
.Owners .el-form-item .el-input__inner{
	line-height: 36px;
	height: 36px;
}
.Owners .el-form-item .el-form-item__label{
	line-height: 36px;
	height: 36px;
}
.Owners .el-form-item .el-form-item__content{
	line-height: 36px;
	/*height: 36px;*/
}
.el-dialog__body{
	padding-bottom: 0 !important;
}
.select .el-input__inner{
	height: 30px;
	line-height: 30px;
}
.selects .el-input__inner{
	height: 30px;
	line-height: 30px;
}
.selects .el-input__icon{
	line-height: 30px;
}
.select .el-input__icon{
	line-height: 30px;
}
.el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
  .el-table .red {
    background:#F05050;
    color: #fff;
  }
 /* 上传 */
.avatar-uploader .el-upload {
  /*border: 1px dashed #d9d9d9;*/
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.el-upload__tip{
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.uploads{
	border:1px dashed #ccc
}
.uploadImg{
  text-align: center;
}
.uploads input{
  display: none!important;
}
.uploads .el-upload{
  width: 178px!important;
  height: 178px;
}
.uploads .el-upload-dragger{
  width: 100%!important;
    height: 43px;
}
.uploads .mbxz{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.tables .el-table__row .cell{
	padding-left: 0;
	padding-right: 0;
}
.tables .el-table__row .cell .heightd{
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
}
.el-table.tables td, .el-table.tables th{
	padding: 0;
}
.print{
	max-width: none !important;
	/*transform: scale(.8);*/
}
.print.el-table--border td, .print.el-table--border th{
	/*border: 1px solid #000;*/
}
.Tables{
	width:100%;
	color: #606266;
	margin: auto;
	border-collapse: collapse;
	font-size: 12px;
}
.Tables .span{
		display: block;
		border-bottom: 1px solid #ebeef5;
	}
	.Tables span{
		display: block;
		line-height: 24px;
		height: 24px;
	}
	.Tables td,
	.Tables th {
		text-align: center;
		padding: 5px 0;
		border: 1px solid #ebeef5;
	}
	.prinTable{
		width:2500px;
		color: #000;
		margin: auto;
		border-collapse: collapse;
		font-size: 12px;
		transform: scale(0.9) translateX(-130px)
	}
	.prinTable .span{
		display: block;
		border-bottom: 1px solid #000;
	}
	.prinTable span{
		display: block;
		line-height: 24px;
		height: 24px;
	}
	.prinTable td,
	.prinTable th {
		text-align: center;
		padding: 5px 0;
		border: 1px solid #000;
	}
.sousuo{
	
}
.search .sousuo .el-input__inner {
    height: 40px !important;
    line-height: 40px !important;
}
.reposts{
		width: 100%;
		margin-bottom: 15px;
	}
.reposts .fl{
	width: 20%;
}
@media screen and (max-width: 1890px) {
	.reposts{
		width: 100%;
		margin-bottom: 15px;
	}
	.reposts .fl{
		width: 23%;
	}
	.reposts .fl{
		margin-bottom: 15px;
	}
	.reposts .fl .el-select{
		width: calc(100% - 56px);
	}
}
@media screen and (max-width: 1600px) {
	.reposts{
		width: 100%;
		margin-bottom: 15px;
	}
	.reposts .fl{
		width: 48%;
		margin-right: 0 !important;
		margin-bottom: 15px;
	}
	.reposts .fl:nth-of-type(2n){
		float: right;
	}
	.reposts .fl .el-select{
		width: calc(100% - 60px);
	}
	.reposts .fl .months.el-input{
		width: calc(100% - 60px);
	}
	.reposts .fl:nth-of-type(5n){
		float: left;
	}
}
.masks{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 2003;
}
