* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  font-family: Source Sans Pro, sans-serif;
  color: #656565;
  font-size: 14px;
  line-height: 1.52857143;
  background-color: #f5f7fa;
}

a {
  text-decoration: none;
  color: #333;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.w50 {
  width: 50%;
  display: inline-block;
}

.w30 {
  width: 30%;
  display: inline-block;
}

input {
  outline: none;
}

.content-wrapper {
  width: 100%;
}

.content-wrapper .title {
  padding: 20px;
  font-size: 24px;
  line-height: 1.1;
  color: #929292;
  text-align: left;
  background-color: #fafbfc;
  border-bottom: 1px solid #cfdbe2;
}

.content-wrapper .content {
  padding: 15px 0px;
  box-sizing: border-box;
}

.content-wrapper .panel {
  border: 1px solid #cfdbe2;
  border-radius: 4px;
  background-color: #fff;
  border-top-width: 3px;
  margin-bottom: 21px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.content-wrapper .panel .panel-heading>div {
  /* display: inline-block;
  width: 80%;
  float: right; */
}

.content-wrapper .panel .panel-heading {
  border-bottom: 0;
  font-size: 14px;
  color: #444;
  background-color: #fff;
  border-color: #cfdbe2;
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.content-wrapper .panel .panel-heading label {
  line-height: 30px;
}

.content-wrapper .panel .panel-body {
  padding: 15px;
}

.pages {
  padding: 10px 0;
  text-align: center;
}

.el-input__inner {
  height: 30px !important;
  line-height: 30px !important;
}

.search {
  display: inline-block;
}

.search .el-input {
  width: 180px;
}

/* 按钮样式 */

.btn {
  color: #fff;
  border-color: transparent;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.52857143;
  border-radius: 4px;
  border-radius: 3px;
  font-size: 13px;
  outline: none !important;
  transition: all 0.1s;
}

.btn:hover {
  opacity: .8;
}

.mini {
  padding: 4px 10px !important;
}

.small {
  padding: 4px 14px !important;
}

.medium {
  padding: 10px 20px !important;
}

/* 按钮颜色 */

.Default {
  color: #000 !important;
  background-color: #fff !important;
  border-color: #eaeaea !important;
}

.Primary {
  color: #fff !important;
  border: 1px solid #5d9cec !important;
  background-color: #5d9cec !important;
}

.Success {
  color: #fff !important;
  border: 1px solid #27c24c !important;
  background-color: #27c24c !important;
}

.Warning {
  color: #fff !important;
  border: 1px solid #ff902b !important;
  background-color: #ff902b !important;
}

.Danger {
  color: #fff !important;
  border: 1px solid #f05050 !important;
  background-color: #f05050 !important;
}

.Inverse {
  color: #fff !important;
  border: 1px solid #131e26 !important;
  background-color: #131e26 !important;
}

.Green {
  color: #fff !important;
  border: 1px solid #37bc9b !important;
  background-color: #37bc9b !important;
}

.Info {
  color: #fff !important;
  border: 1px solid #23b7e5 !important;
  background-color: #23b7e5 !important;
}

.Purple {
  color: #fff !important;
  border: 1px solid #7266ba !important;
  background-color: #7266ba !important;
}

.Pink {
  color: #fff !important;
  border: 1px solid #f532e5 !important;
  background-color: #f532e5 !important;
}

/* 输入框 */

.row {
  padding: 10px 0;
}

.row input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 30px;
  line-height: 30px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.row input:focus {
  border-color: #409eff;
  outline: 0;
}

.row input::-webkit-input-placeholder {
  color: #dcdfe6;
}

/* 使用webkit内核的浏览器 */

.row input:-moz-placeholder {
  color: #dcdfe6;
}

/* Firefox版本4-18 */

.row input::-moz-placeholder {
  color: #dcdfe6;
}

/* Firefox版本19+ */

.row input:-ms-input-placeholder {
  color: #dcdfe6;
}

/* IE浏览器 */

.row label {
  width: 100px;
  display: inline-block;
  text-align: right;
}

.row .el-select {
  width: 80%;
}

.row .el-select input {
  width: 100%;
}

.row input {
  width: 80%;
}

.el-dropdown {
  display: inline !important;
}

.el-dropdown-menu--small .el-dropdown-menu__item {
  line-height: 32px !important;
}

/* 上传 */

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.el-upload__tip {
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.uploadImg {
  text-align: center;
}

.uploads input {
  display: none !important;
}

.uploads .el-upload {
  width: 100% !important;
}

.uploads .el-upload-dragger {
  width: 100% !important;
  height: 43px;
}

.uploads .mbxz {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* 弹窗里form的行高 */

.el-form-item {
  margin-bottom: 5px !important;
}

.el-dialog__body {
  padding: 10px 20px !important;
}

.tip .el-select {
  width: 100%;
}

/* tab */

.tab {
  margin: 0 15px;
}

.el-date-editor.el-input {
  width: 80% !important;
}

.el-date-editor.el-input input {
  width: 100% !important;
}

.row .el-input__icon {
  line-height: 30px !important;
}
/* 折叠面板 */
.el-collapse-item__header{
  font-weight: 600!important;
}
.el-checkbox-group {
  width: auto!important;
  display: inline-block!important;
  padding: 0 10px!important;
}
.el-table .cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*white-space: normal;
    word-break: break-all;*/
    line-height: 23px;
    overflow: hidden;
    text-overflow:ellipsis;
		white-space: nowrap;
}
.el-table .cell .span{
	display: block;
	line-height: 23px;
	height: 23px;
    overflow: hidden;
    text-overflow:ellipsis;
		white-space: nowrap;
}
.words{
	word-break: break-all; 
	word-wrap:break-word;
}
.tied.el-date-editor.el-input {
  width: 220px!important;
}
.tied .el-input__icon{
	line-height: 30px !important;
}
.times{
	margin-left: 15px;
}
@media screen and (max-width: 1780px) {
	.times.fl{
		float: right;
	}
	.sosuo{
		margin-top: 15px;
	}
}
@media screen and (max-width: 1400px) {
	.times.fl{
		float: left;
		margin-left: 0;
		margin-top: 15px;
	}
	.sosuo{
		margin-top: 15px;
	}
}