.Default {
  color: #000!important;
  background-color: #fff!important;
  border-color: #eaeaea!important;
}
 img{border:0px}
.Primary {
  color: #fff!important;
  border: 1px solid #5d9cec!important;
  background-color: #5d9cec!important;
}

.Success {
  color: #fff!important;
  border: 1px solid #27c24c!important;
  background-color: #27c24c!important;
}

.Warning {
  color: #fff!important;
  border: 1px solid #ff902b!important;
  background-color: #ff902b!important;
}

.Danger {
  color: #fff!important;
  border: 1px solid #f05050!important;
  background-color: #f05050!important;
}

.Inverse {
  color: #fff!important;
  border: 1px solid #131e26!important;
  background-color: #131e26!important;
}

.c {
  color: #fff!important;
  border: 1px solid #37bc9b!important;
  background-color: #37bc9b!important;
}

.Info {
  color: #fff!important;
  border: 1px solid #23b7e5!important;
  background-color: #23b7e5!important;
}

.Purple {
  color: #fff!important;
  border: 1px solid #7266ba!important;
  background-color: #7266ba!important;
}

.Pink {
  color: #fff!important;
  border: 1px solid #f532e5!important;
  background-color: #f532e5!important;
}
/* 上传 */
.avatar-uploader .el-upload {
  /*border: 1px dashed #d9d9d9;*/
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.el-upload__tip{
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.uploadImg{
  text-align: center;
}
.uploads input{
  display: none!important;
}
.uploads .el-upload{
  width: 178px!important;
  height: 178px;
}
.uploads .el-upload-dragger{
  width: 100%!important;
    height: 43px;
}
.uploads .mbxz{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.boxs>div>div .times .el-input__inner{
	padding-left: 30px !important;
}
.el-input__icon{
	line-height: 30px !important;
}

/* 折叠面板 */
.el-collapse-item__header{
  font-weight: 600!important;
}
.el-checkbox-group {
  width: auto!important;
  display: inline-block!important;
  padding: 0 10px!important;
}
.el-table .cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*white-space: normal;
    word-break: break-all;*/
    line-height: 23px;
    overflow: hidden;
    text-overflow:ellipsis;
		white-space: nowrap;
}
.words{
	word-break: break-all; 
	word-wrap:break-word;
}
.el-table .cell .span{
	display: block;
	line-height: 23px;
	height: 23px;
    overflow: hidden;
    text-overflow:ellipsis;
		white-space: nowrap;
}
@media screen and (max-width: 1830px) {
	.times.fl{
		float: right;
	}
	.sosuo{
		margin-top: 15px;
	}
}
@media screen and (max-width: 1453px) {
	.times.fl{
		float: left;
		margin-left: 0;
		margin-top: 15px;
	}
	.sosuo{
		margin-top: 15px;
	}
}